<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= live_title_tag assigns[:page_title] || "LiveMapApp", suffix: " · Live Map App" %>
    <%= csrf_meta_tag() %>
    <link rel="icon"
      type="image/ico"
      src="<%= Routes.static_path(@conn, "/static/favicon.ico") %>">
      <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <h3>Live Map App</h3>
    </header>
    <%= @inner_content %>
    <!-- Footer -->
    <footer class="footer">
      <div class="inner">
        <div class="copyright">
          &copy; Francesco Zanoli. Done using <a href="https://www.phoenixframework.org/">Phoenix LiveView</a>.
        </div>
      </div>
    </footer>
  </body>
</html>
